:root{
    --altezza-input: 5vh;
    --font-size-form: 1.4vw;
}

*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: yellow;
}


#input-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    background-color: lightblue;
    padding-left: 20%;
    padding-right: 20%;
}

.content-graph{
    border: 1px solid red;
}

.content-table{
    border: 1px solid black;
}

.dash-dropdown{
    font-size: var(--font-size-form);
    height: var(--altezza-input);
    width: 10vw;
}

.ticker .Select-control{
    height: var(--altezza-input);
    border-radius: 0;
}
.leverage-ratio .Select-control{
    height: var(--altezza-input);
    border-radius: 0;
}




.DateInput_input{
    font-size: var(--font-size-form);
    height: var(--altezza-input);
    border: 0;
}

.DateRangePickerInput__withBorder{
    border: 0;
    border-radius: 0;
}