:root{
    --altezza-input: 5vh;
}



.header{
    background-color: yellow;
}


#input-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.content{
    background-color: lightblue;
    padding-left: 20%;
    padding-right: 20%;
}

.content-graph{
    border: 1px solid red;
}

.content-table{
    border: 1px solid black;
}

.DateInput_input{
    height: var(--altezza-input);
}


.dash-dropdown{
    width: 30vh;
}

.date-range{
    width: auto;
    
}

.DateInput_input{
    font-size: 25px;
}